<div class='contact-details'>

    {{!-- display name --}}

    <div class='contact-details__display-name'>
        {{model.displayName}}
    </div>
    
    {{!-- first name --}}

    <div class='contact-details__first-name'>
        {{#if edit}}
            <label>First name</label>
            {{input value=model.firstName}}
        {{else}}
            {{model.firstName}}
        {{/if}}
    </div>


    {{!-- last name --}}

    <div class='contact-details__last-name'>
        {{#if edit}}
            <label>Last name</label>
            {{input value=model.lastName}}
        {{else}}
            {{model.lastName}}
        {{/if}}
    </div>

    
    {{!-- address --}}

    <div class='contact-details__address'>
        {{#if edit}}
            <label>Address</label>
            {{textarea value=model.address cols=25 rows=3}}
        {{else}}
            {{model.address}}
        {{/if}}
    </div>


    {{!-- email --}}

    <div class='contact-details__email'>
        {{#if edit}}
            <label>Email</label>
            {{input type='email' value=model.email}}
        {{else}}
            {{model.email}}
        {{/if}}
    </div>



    {{!-- actions --}}

    <div class='close-details-button' {{action 'closeDetails'}}>
        close
    </div>

    {{#if edit}}
        <button class='save-details-button' {{action 'save' model}}>
            Save
        </button>
    {{else}}
        <button class='edit-details-button' {{action 'switchToEditMode'}}>
            Edit
        </button>
    {{/if}}

    <button class='delete-contact-button' {{action 'delete' model}}>
        Delete
    </button>


</div>

{{outlet}}
