<div class="contact-details">

    {{!-- display name --}}

    <div class="contact-details__display-name">
        {{displayName}}
    </div>
    
    {{!-- first name --}}

    <div class="contact-details__first-name">
        {{#if isEditing}}
            {{input value=firstName}}
        {{else}}
            {{firstName}}
        {{/if}}
    </div>


    {{!-- last name --}}

    <div class="contact-details__last-name">
        {{#if isEditing}}
            {{input value=lastName}}
        {{else}}
            {{lastName}}
        {{/if}}
    </div>

    
    {{!-- address --}}

    <div class="contact-details__address">
        {{#if isEditing}}
            {{textarea value=address cols=25 rows=3}}
        {{else}}
            {{address}}
        {{/if}}
    </div>


    {{!-- email --}}

    <div class="contact-details__email">
        {{#if isEditing}}
            {{input type='email' value=email}}
        {{else}}
            {{email}}
        {{/if}}
    </div>



    {{!-- actions --}}

    <button class="close-details-button" {{action 'closeDetails'}}>
        ❌
    </button>

    {{#if isEditing}}
        <button class="save-details-button" {{action 'save' model}}>
            Save
        </button>
    {{else}}
        <button class="edit-details-button" {{action 'edit'}}>
            Edit
        </button>
    {{/if}}

</div>

{{outlet}}
